{% extends 'core/index.html' %}
{% block content %}
<header class="px-6 py-10 lg:py-20 bg-red-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Pokemon Shop</p>

        <p class="mb-10 text-white">Buy Pokemon Products</p>
        <a href="#" class="inline-block px-8 py-4 rounded-xl bg-white text-red-500 hover:bg-gray-200">Start Shopping Now</a>
    </div>
</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <div class="pt-3 flex items-center justify-between">
                <a href="#">Product Name</a>

            </div>

        </div>

    </div>

</div>

{% endblock %}